.pagination-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.pagination-button {
  width: 120px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-button > span {
  margin-left: 10px;
}

.pagination-button.prev > span {
  margin-right: 10px;
  margin-left: 0;
}

.card-description {
  display: block; /* or inline-block */
  text-align: justify;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5.2em;
  line-height: 1.8em;
}

.dropdown-category {
  min-width: 10rem;
  position: relative;
}

.dropdown-category > button {
  max-width: 14rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-break: normal;
}

.card-title:hover {
  text-decoration: underline;
}